.post-list li {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
	padding: 5%;
}

.post-list .info {
	display: flex;
	column-gap: 15px;
}

.post-list .info > strong {
	flex: 1 1 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.post-list .info > em {
	flex: 1 0 auto;
}

.post-list li .title {
	display: -webkit-box;
	color: var(--light-scheme-highlight);
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.post-list li .content {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.date-time {
	font-style: italic;
}

.empty-image-wrap {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--dark-scheme-placeholder);
	border-style: dashed;
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.no-post-list {
	text-align: center;
}

/* Pseudo classes */
.post-list li a img:hover {
	opacity: 0.8;
}

.post-list li .title:hover {
	text-decoration: underline;
}

.empty-image-wrap:hover {
	border-color: var(--light-scheme-color);
}

/* Dark scheme classes */
:global(.dark) .post-list li {
	color: var(--dark-scheme-color);
}

:global(.dark) .post-list li .title {
	color: var(--dark-scheme-highlight);
}

:global(.dark) .empty-image-wrap:hover {
	border-color: var(--dark-scheme-color);
}

@media (width >= 400px) {
	.post-list li {
		padding: 5% 10%;
	}
}

@media (width >= 700px) {
	.post-list li {
		padding: 5% 15%;
	}
}

@media (width >= 1000px) {
	.post-list li {
		row-gap: 20px;
		padding: 0;
	}
}
