.posts {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 5%;
}

.posts ul {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
}

.posts li:not(:last-child) {
	border-bottom: 1px solid var(--light-scheme-color);
}

.container {
	display: flex;
	flex: 1 1 100%;
	justify-content: center;
	align-items: center;
}

/* Dark scheme classes */

:global(.dark) .posts {
	color: var(--dark-scheme-color);
}

:global(.dark) .posts li:not(:last-child) {
	border-color: var(--dark-scheme-color);
}

@media (width >= 1000px) {
	.posts {
		row-gap: 30px;
		padding: 5% 10%;
	}

	.posts ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 1fr;
		gap: 40px;
	}

	.posts li:not(:only-of-type) {
		border-bottom: 0;
	}
}
