.post-detail {
	position: relative;
	flex: 1 1 100%;
	padding: 5%;
}

.container {
	display: flex;
	row-gap: 15px;
	flex-direction: column;
}

.hide {
	display: none;
}

.link {
	display: flex;
	column-gap: 5px;
	align-items: center;
	text-decoration: none;
}

.title {
	font-size: 1.5rem;
}

.published-date {
	display: flex;
	row-gap: 15px;
	flex-direction: column;
}

:global(#editor-content) a {
	color: revert;
	text-decoration: revert;
	text-underline-offset: 2px;
}

:global(#editor-content) p,
:global(#editor-content) h3,
:global(#editor-content) h5 {
	margin: revert;
	font-weight: normal;
}

:global(#editor-content) ol,
:global(#editor-content) ul {
	margin: revert;
	padding: revert;
}

:global(#editor-content) li {
	margin-block: 1em;
	list-style: revert;
}

:global(#editor-content) pre {
	background-color: var(--light-scheme-layout-bgc);
	font-family: unset;
	text-shadow: none;
}

:global(#editor-content) :global(.tag) {
	color: var(--light-scheme-error);
}

:global(#editor-content) :global(.operator) {
	background-color: transparent;
}

:global(#editor-content) img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	object-fit: cover;
}

.left-arrow {
	--size: var(--icon-size-desktop);

	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='208' height='208' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M18 10a.75.75 0 0 1-.75.75H4.66l2.1 1.95a.75.75 0 1 1-1.02 1.1l-3.5-3.25a.75.75 0 0 1 0-1.1l3.5-3.25a.75.75 0 1 1 1.02 1.1l-2.1 1.95h12.59A.75.75 0 0 1 18 10' clip-rule='evenodd'/%3E%3C/svg%3E");
	width: var(--size);
	height: var(--size);
}

/* Pseudo classes */
.link:hover {
	text-decoration: underline;
}

/* Dark scheme classes */
:global(.dark) .post-detail {
	color: var(--dark-scheme-color);
}

:global(.dark) :global(#editor-content) pre {
	background-color: var(--dark-scheme-input-bgc);
	color: var(--dark-scheme-color);
}

@media (width >= 400px) {
	.post-detail {
		padding: 5% 10%;
	}
}

@media (width >= 700px) {
	.post-detail {
		row-gap: 30px;
		padding: 5% 15%;
	}

	.title {
		font-size: 2rem;
	}
}

@media (width >= 1000px) {
	.post-detail {
		row-gap: 40px;
		padding: 5% 10%;
	}

	.image-wrap {
		padding: 0 10%;
	}
}
