.model {
	width: 75%;
}

.model form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 15px;
}

.model form label {
	font-weight: 700;
}

.model form label > div {
	margin-top: 20px;
}

.model form button {
	width: 70%;
	align-self: center;
}

/* Dark scheme classes */
:global(.dark) .model {
	color: var(--dark-scheme-color);
}

:global(.dark) .model form input {
	color: var(--dark-scheme-color);
	background-color: rgba(var(--light-scheme-color-rgb), 0.5);
}

@media (min-width: 450px) {
	.model form {
		padding: 20px;
	}
}

@media (min-width: 600px) {
	.model {
		width: 55%;
	}
}

@media (min-width: 700px) {
	.model {
		width: 45%;
	}
}

@media (min-width: 1000px) {
	.model form {
		padding: 30px 40px;
	}
}

@media (min-width: 1300px) {
	.model {
		width: 35%;
	}
}
