.comments {
	display: flex;
	position: relative;
	row-gap: 15px;
	flex-direction: column;
	padding: 10% 5%;
}

.replies {
	display: flex;
	row-gap: 15px;
	flex-direction: column;
	padding-left: calc(5% + var(--icon-size-mobile) / 2);
}

.replies > li {
	display: flex;
	row-gap: 15px;
	flex-direction: column;
}

.content {
	display: flex;
	row-gap: 20px;
	flex-direction: column;
}

.content > ul,
.content > ul > li {
	display: flex;
	row-gap: 15px;
	flex-direction: column;
}

.content > p {
	padding: 5% 0;
	text-align: center;
}

.shake {
	animation: shake 0.3s;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(5px);
	}

	50% {
		transform: translateX(-5px);
	}

	75% {
		transform: translateX(5px);
	}

	100% {
		transform: translateX(0);
	}
}

/* Dark scheme classes */
:global(.dark) .comments {
	color: var(--dark-scheme-color);
}

@media (width >= 400px) {
	.comments {
		padding: 10%;
	}
}

@media (width >= 700px) {
	.comments {
		row-gap: 25px;
		padding: 10% 15%;
	}

	.replies {
		row-gap: 25px;
	}

	.replies > li {
		row-gap: 25px;
	}

	.content > ul,
	.content > ul > li {
		row-gap: 25px;
	}
}

@media (width >= 1000px) {
	.comments {
		row-gap: 35px;
		padding: 5% 10%;
	}

	.replies {
		row-gap: 35px;
	}

	.replies > li {
		row-gap: 35px;
	}

	.content > ul,
	.content > ul > li {
		row-gap: 35px;
	}
}
