.account {
	display: flex;
	position: relative;
	flex: 1 1 100%;
	padding: 5%;
}

.wrap {
	display: flex;
	row-gap: 15px;
	flex: 1 1 100%;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 500px;
}

.title {
	color: var(--light-scheme-color);
}

.container {
	display: flex;
	row-gap: 20px;
	flex-direction: column;
	justify-content: center;
	border: 1px solid var(--light-scheme-color);
	border-radius: 10px;
	padding: 20px;
	overflow: hidden;
}

/* Dark scheme classes */

:global(.dark) .title {
	color: var(--dark-scheme-color);
}

:global(.dark) .container {
	border-color: var(--dark-scheme-color);
}

:global(.dark) .federation {
	border-color: var(--dark-scheme-color);
}

@media (width >= 440px) {
	.account {
		padding: 40px 10%;
	}

	.wrap {
		row-gap: 20px;
	}
}

@media (width >= 500px) {
	.account {
		padding: 40px 5%;
	}
}

@media (width >= 550px) {
	.federation {
		align-items: center;
	}
}

@media (width >= 600px) {
	.account {
		padding: 40px 0;
	}
}

@media (width >= 900px) {
	.account {
		padding: 50px 0;
	}
}
