.app {
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	background-color: var(--light-scheme-main-bgc);
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
}

main {
	height: 100%;
	flex: 1 1 100%;
}

main > * {
	width: 100%;
	height: 100%;
}

/* Dark scheme classes */

.dark.app {
	background-color: var(--dark-scheme-layout-bgc);
}

.dark * {
	font-weight: 300;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark strong {
	font-weight: 500;
}

@media (min-width: 1300px) {
	main > * {
		max-width: 1300px;
		margin: 0 auto;
	}
}
