.button {
	border-radius: 5px;
	min-height: 45px;
	border: 2px solid var(--light-scheme-color);
	padding: 10px 15px;
	color: var(--dark-scheme-color);
}

.successBtn {
	composes: button;
	background-color: var(--light-scheme-success);
}

.errorBtn {
	composes: button;
	background-color: var(--light-scheme-error);
}
