.model form {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding: 15px;
}

.model form input {
	margin-top: 20px;
	background-color: var(--light-scheme-main-bgc);
}

/* Dark scheme classes */
.dark.model {
	color: var(--dark-scheme-color);
}

.dark.model form input {
	color: var(--dark-scheme-color);
	background-color: var(--dark-scheme-link-bgc-hover);
}

@media (min-width: 450px) {
	.model form input {
		margin: 0 10%;
	}
}
@media (min-width: 700px) {
	.model form {
		row-gap: 30px;
	}
}

@media (min-width: 1000px) {
	.model form {
		padding: 20px;
	}
}
