.model {
	width: 75%;
}

.model form {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding: 15px;
}

.model form label {
	font-weight: 700;
}

.model form input {
	margin-top: 20px;
	background-color: var(--light-scheme-main-bgc);
}

.model form button {
	width: 50%;
	align-self: center;
}

/* Dark scheme classes */
.dark.model {
	color: var(--dark-scheme-color);
}

.dark.model form input {
	color: var(--dark-scheme-color);
	background-color: var(--dark-scheme-link-bgc-hover);
}

@media (min-width: 450px) {
	.model form {
		padding: 20px;
	}
}

@media (min-width: 600px) {
	.model {
		width: 55%;
	}
}

@media (min-width: 700px) {
	.model {
		width: 45%;
	}
	.model form {
		row-gap: 20px;
	}
}

@media (min-width: 1000px) {
	.model form {
		padding: 30px 40px;
		row-gap: 30px;
	}
}

@media (min-width: 1300px) {
	.model {
		width: 35%;
	}
}
