.comments {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding: 5%;
}

.comments > ul {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

/* Dark scheme classes */
:global(.dark) .comments {
	color: var(--dark-scheme-color);
}

@media (min-width: 400px) {
	.comments {
		padding: 5% 10%;
	}
}

@media (min-width: 700px) {
	.comments {
		row-gap: 40px;
		padding: 5% 15%;
	}

	.comments > ul {
		row-gap: 40px;
	}
}

@media (min-width: 1000px) {
	.comments {
		padding: 5% 10%;
		row-gap: 50px;
	}

	.comments > ul {
		row-gap: 50px;
	}
}

@media (min-width: 1600px) {
	.comments {
		padding: 5% 0;
	}
}
