.comment,
.reply > li {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.container {
	display: flex;
	flex-direction: column;
	padding-left: 5%;
	border-left: 5px solid var(--light-scheme-color);
	row-gap: 15px;
}

.container.user {
	border-color: var(--light-scheme-success);
}

.container.author {
	border-color: var(--light-scheme-error);
}

.info {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.info strong {
	color: var(--light-scheme-highlight);
}

.content {
	flex: 1 1 100%;
	background-color: var(--light-scheme-layout-bgc);
	border-radius: 10px;
	padding: 5%;
}

.buttonWrap {
	display: flex;
	align-items: center;
}

.commentBtn {
	display: flex;
	column-gap: 5px;
	align-items: center;
	font-weight: 700;
	color: var(--light-scheme-color);
}

.replyBtn {
	color: var(--light-scheme-highlight);
	margin-left: auto;
	padding-bottom: 1px;
	border-bottom: 1px solid transparent;
}

.replies {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M8 13.5h8m-8-5h4M6.099 19q-1.949-.192-2.927-1.172C2 16.657 2 14.771 2 11v-.5c0-3.771 0-5.657 1.172-6.828S6.229 2.5 10 2.5h4c3.771 0 5.657 0 6.828 1.172S22 6.729 22 10.5v.5c0 3.771 0 5.657-1.172 6.828S17.771 19 14 19c-.56.012-1.007.055-1.445.155c-1.199.276-2.309.89-3.405 1.424c-1.563.762-2.344 1.143-2.834.786c-.938-.698-.021-2.863.184-3.865' color='%23000'/%3E%3C/svg%3E");
	height: var(--icon-size-mobile);
	width: var(--icon-size-mobile);
}

.replies.active {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m15 2l3.5 3.5m0 0L22 9m-3.5-3.5L22 2m-3.5 3.5L15 9M6.099 19.5q-1.949-.192-2.927-1.172C2 17.157 2 15.271 2 11.5V11c0-3.771 0-5.657 1.172-6.828S6.229 3 10 3h1.5m-5 15c-.205 1.002-1.122 3.166-.184 3.865c.49.357 1.271-.024 2.834-.786c1.096-.535 2.206-1.148 3.405-1.424c.438-.1.885-.143 1.445-.155c3.771 0 5.657 0 6.828-1.172C21.947 17.21 21.998 15.44 22 12M8 14h6M8 9h3' color='%23000'/%3E%3C/svg%3E");
}

.reply {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	display: none;
	padding-left: calc(5% + var(--icon-size-mobile) / 2);
}

.reply.active {
	display: flex;
}

/* Pseudo classes */

.commentBtn:hover {
	color: var(--light-scheme-highlight);
}

.replyBtn:hover {
	font-style: italic;
	border-bottom-color: var(--light-scheme-highlight);
}

/* Dark scheme classes */

:global(.dark) .container {
	border-left: 2px solid var(--dark-scheme-color);
}

:global(.dark) .container.user {
	border-color: var(--dark-scheme-success);
}

:global(.dark) .container.author {
	border-color: var(--dark-scheme-error);
}
:global(.dark) .info strong {
	color: var(--dark-scheme-highlight);
}

:global(.dark) .content {
	background-color: var(--dark-scheme-input-bgc);
}

:global(.dark) .commentBtn {
	color: var(--dark-scheme-color);
}
:global(.dark) .replyBtn {
	color: var(--dark-scheme-highlight);
}

/* Pseudo classes */
:global(.dark) .commentBtn:hover {
	color: var(--dark-scheme-highlight);
}

:global(.dark) .replyBtn:hover {
	border-bottom-color: var(--dark-scheme-highlight);
}

@media (min-width: 700px) {
	.reply {
		row-gap: 40px;
	}

	.comment,
	.reply > li {
		row-gap: 20px;
	}
}

@media (min-width: 1000px) {
	.reply {
		row-gap: 50px;
	}

	.comment,
	.reply > li {
		row-gap: 25px;
	}
}
