.model {
	padding: 15px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	width: 75%;
}

.title {
	font-weight: 700;
}

.content {
	align-self: center;
}

.buttonWrap {
	display: flex;
	justify-content: space-evenly;
}

.buttonWrap button {
	width: 40%;
}

.cancelBtn {
	background-color: var(--light-scheme-color);
}

/* Dark scheme classes */
.dark .cancelBtn {
	background-color: var(--dark-scheme-color);
	color: var(--light-scheme-color);
}

@media (min-width: 450px) {
	.model {
		padding: 20px;
		row-gap: 40px;
	}
}

@media (min-width: 1000px) {
	.model {
		padding: 30px 40px;
	}
}
