.home {
	background-color: var(--light-scheme-main-bgc);
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	padding: 15px;
	height: 100%;
}

.title {
	color: var(--light-scheme-highlight);
	font-size: 2rem;
}

.link {
	display: flex;
	column-gap: 5px;
	border: 2px solid var(--light-scheme-color);
	border-radius: 20px;
	align-self: flex-start;
	padding: 10px;
}

.doubleArrowRight {
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M2.146 11.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 1 0-.708.708L5.793 7.5zm6 0a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 1 0-.708.708L11.793 7.5z' clip-rule='evenodd'/%3E%3C/svg%3E");
	width: 20px;
	height: 20px;
}
