img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.imageWrap {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}

.imageWrap > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
