.layout {
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	background-color: var(--light-scheme-main-bgc);
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
}

.layout main {
	height: 100%;
	flex: 1 1 100%;
}

.layout main > * {
	width: 100%;
	height: 100%;
}

/* Dark scheme classes */

:global(.dark).layout {
	background-color: var(--dark-scheme-layout-bgc);
}

@media (min-width: 1300px) {
	.layout > * {
		max-width: 1300px;
		margin: 0 auto;
	}
}
