.login {
	padding: 15px;
}

.linkWrap {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding: 15px;
	align-items: center;
}

.link {
	color: var(--light-scheme-highlight);
	text-decoration: underline dotted var(--light-scheme-highlight) 2px;
	text-underline-offset: 3px;
}
