.login {
	padding: 15px;
}

.title {
	margin-bottom: 15px;
}

.formWrap {
	border: 1px solid var(--light-scheme-color);
	border-radius: 5px;
}

.formWrap form {
	padding: 15px;
}

.formWrap input {
	margin-bottom: 20px;
	background-color: var(--light-scheme-layout-bgc);
}

.formWrap button[type="submit"] {
	margin-top: 40px;
}

.linkWrap {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding: 15px;
	align-items: center;
	border-top: 1px solid var(--light-scheme-color);
}

.link {
	color: var(--light-scheme-highlight);
	text-decoration: underline dotted var(--light-scheme-highlight) 2px;
	text-underline-offset: 3px;
}
