.postList {
	display: flex;
	flex-direction: column;
	background-color: var(--light-scheme-main-bgc);
}

.postList li a {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding: 15px;
}

.postList li:not(:first-child) {
	border-top: 1px solid var(--light-scheme-color);
}

.dateTime {
	color: var(--light-scheme-highlight);
}

@media (min-width: 400px) {
	.postList li a {
		padding: 10%;
	}
}
