.postDetail {
	display: flex;
	flex-direction: column;
	background-color: var(--light-scheme-main-bgc);
}

.postDetail li {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding: 5%;
}

.dateTime {
	color: var(--light-scheme-highlight);
}

@media (min-width: 400px) {
	.postDetail li {
		padding: 10%;
	}
}
