.register {
	padding: 5%;
}

.title {
	margin-bottom: 15px;
}

.register form {
	border: 1px solid var(--light-scheme-color);
	border-radius: 5px;
	padding: 15px;
}

.register form input {
	background-color: var(--light-scheme-layout-bgc);
}

.register form button[type="submit"] {
	margin-top: 40px;
}

/* Dark scheme classes */

:global(.dark) .register {
	color: var(--dark-scheme-color);
}

:global(.dark) .register form {
	border-color: var(--dark-scheme-color);
}

:global(.dark) .register form input {
	background-color: var(--dark-scheme-input-bgc);
}

@media (min-width: 400px) {
	.register {
		padding: 5% 10%;
	}
}

@media (min-width: 600) {
	.register form button[type="submit"] {
		width: 50%;
		align-self: center;
	}
}

@media (min-width: 700px) {
	.register {
		padding: 5% 20%;
	}
	.title {
		margin-bottom: 5%;
	}

	.register form {
		padding: 5% 10%;
		border-radius: 15px;
	}

	.register form button[type="submit"] {
		width: 100%;
	}
}

@media (min-width: 1000px) {
	.register {
		padding: 5% 30%;
	}
}

@media (min-width: 1300px) {
	.register {
		padding: 5% 20%;
	}
	.register form button[type="submit"] {
		width: 50%;
		align-self: center;
	}
}
