.settings {
	position: relative;
	width: 80%;
	background-color: var(--light-scheme-layout-bgc);
	border: 2px solid var(--light-scheme-color);
	border-radius: 8px;
}

.header {
	padding: 15px;
	border-bottom: 1px solid var(--light-scheme-color);
}

.avatarWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.avatar {
	width: calc(var(--icon-size-mobile) * 2);
	height: calc(var(--icon-size-mobile) * 2);
	border-radius: 100%;
	background-color: var(--light-scheme-color);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--dark-scheme-color);
	font-size: var(--icon-size-mobile);
}

.list {
	display: flex;
	flex-direction: column;
}

.list li {
	padding: 15px 30px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 15px;
}

.list li:last-of-type {
	border-top: 1px solid var(--light-scheme-color);
}

.list li button {
	color: var(--light-scheme-highlight);
	text-decoration: underline;
	text-underline-offset: 3px;
}

.deleteBtn {
	color: var(--light-scheme-error);
	text-decoration: underline;
	text-underline-offset: 3px;
}

/* Pseudo classes */

.changeBtn:hover,
.deleteBtn:hover {
	font-weight: 700;
	font-style: italic;
	text-decoration-thickness: 2px;
}

/* Dark scheme classes */

.dark.settings {
	background-color: var(--dark-scheme-input-bgc);
	border: 2px solid var(--dark-scheme-color);
	color: var(--dark-scheme-color);
}
.dark .header {
	border-bottom: 1px solid var(--dark-scheme-color);
}
.dark .avatar {
	background-color: var(--dark-scheme-color);
	color: var(--light-scheme-color);
}
.dark .list li:last-of-type {
	border-top-color: var(--dark-scheme-color);
}
.dark .changeBtn {
	color: var(--dark-scheme-highlight);
}
.dark .deleteBtn {
	color: var(--dark-scheme-error);
}

@media (min-width: 600px) {
	.settings {
		width: 60%;
	}
}

@media (min-width: 700px) {
	.settings {
		width: 50%;
	}
}

@media (min-width: 1000px) {
	.header {
		padding: 20px;
	}

	.container {
		display: flex;
	}

	.avatarWrap {
		padding: 20px 30px;
		align-items: flex-start;
		border-right: 1px solid var(--light-scheme-color);
	}

	.list {
		flex: 1 1 100%;
	}

	.list li {
		flex: 1 1 100%;
		padding: 30px;
		row-gap: 20px;
	}

	.delete {
		padding: 40px 30px;
		row-gap: 20px;
	}

	/* Dark scheme classes */
	.avatarWrap {
		border-right-color: var(--dark-scheme-color);
	}
}

@media (min-width: 1300px) {
	.settings {
		width: 30%;
	}
}
