.settings {
	position: relative;
	border: 2px solid var(--light-scheme-color);
	border-radius: 8px;
	background-color: var(--light-scheme-layout-bgc);
	width: 80%;
}

.header {
	border-bottom: 1px solid var(--light-scheme-color);
	padding: 15px;
}

.avatar-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--light-scheme-color);
	width: calc(var(--icon-size-mobile) * 2);
	height: calc(var(--icon-size-mobile) * 2);
	color: var(--dark-scheme-color);
	font-size: var(--icon-size-mobile);
}

.list {
	display: flex;
	flex-direction: column;
}

.list li {
	display: flex;
	row-gap: 15px;
	flex-direction: column;
	align-items: flex-start;
	padding: 15px 30px;
}

.list li:last-of-type {
	border-top: 1px solid var(--light-scheme-color);
}

.change-btn {
	color: var(--light-scheme-highlight);
	text-decoration: underline;
	text-underline-offset: 3px;
}

.delete-btn {
	color: var(--light-scheme-error);
	text-decoration: underline;
	text-underline-offset: 3px;
}

/* Pseudo classes */

.change-btn:hover,
.delete-btn:hover {
	font-style: italic;
	font-weight: 700;
	text-decoration-thickness: 2px;
}

/* Dark scheme classes */

:global(.dark) .settings {
	border: 2px solid var(--dark-scheme-color);
	background-color: var(--dark-scheme-input-bgc);
	color: var(--dark-scheme-color);
}

:global(.dark) .header {
	border-bottom: 1px solid var(--dark-scheme-color);
}

:global(.dark) .avatar {
	background-color: var(--dark-scheme-color);
	color: var(--light-scheme-color);
}

:global(.dark) .list li:last-of-type {
	border-top-color: var(--dark-scheme-color);
}

:global(.dark) .change-btn {
	color: var(--dark-scheme-highlight);
}

:global(.dark) .delete-btn {
	color: var(--dark-scheme-error);
}

@media (width >= 600px) {
	.settings {
		width: 60%;
	}
}

@media (width >= 700px) {
	.settings {
		width: 50%;
	}
}

@media (width >= 1000px) {
	.header {
		padding: 20px;
	}

	.container {
		display: flex;
	}

	.avatar-wrap {
		align-items: flex-start;
		border-right: 1px solid var(--light-scheme-color);
		padding: 20px 30px;
	}

	.list {
		flex: 1 1 100%;
	}

	.list li {
		row-gap: 20px;
		flex: 1 1 100%;
		padding: 30px;
	}

	.delete {
		row-gap: 20px;
		padding: 40px 30px;
	}

	/* Dark scheme classes */
	:global(.dark) .avatar-wrap {
		border-right-color: var(--dark-scheme-color);
	}
}

@media (width >= 1300px) {
	.settings {
		width: 40%;
	}
}
