.content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.content label {
	row-gap: 5px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.content label input {
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 10px;
}

.content label + div {
	position: relative;
	margin-left: 30px;
	color: var(--light-scheme-error);
	opacity: 0;
	visibility: hidden;
}

.content label + div span:first-of-type {
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 5px;
}
	border-color: var(--light-scheme-error);
}
.content label.error + span {
	opacity: 1;
	visibility: visible;
}

/* Pseudo classes */
.content label:focus-within,
.content label:hover {
	color: var(--light-scheme-highlight);
}
.content input:focus,
.content input:hover {
	border: 2px solid var(--light-scheme-highlight);
}

/* Dark scheme classes */
:global(.dark) .content label + div {
	color: var(--dark-scheme-error);
}

:global(.dark) .content label.error {
	color: var(--darl-scheme-error);
}
:global(.dark) .content label.error > * {
	border-color: var(--dark-scheme-error);
}

:global(.dark) .content label:focus-within,
:global(.dark) .content label:hover {
	color: var(--dark-scheme-highlight);
}
:global(.dark) .content input:focus,
:global(.dark) .content input:hover {
	border: 2px solid var(--dark-scheme-highlight);
}

@media (min-width: 700px) {
	.content {
		row-gap: 20px;
	}
}
