.latest-posts {
	display: none;
}

@media (width >= 700px) {
	.latest-posts {
		display: flex;
		row-gap: 20px;
		flex: 1 1 100%;
		flex-direction: column;
		justify-content: center;
	}

	.latest-posts ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 1fr;
		gap: 30px;
	}

	.latest-posts ul li {
		padding: 0;
	}

	/* Dark scheme classes */
	:global(.dark) .latest-posts {
		color: var(--dark-scheme-color);
	}
}

@media (width >= 1000px) {
	.latest-posts {
		padding: 5% 10%;
	}

	.latest-posts ul {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.latest-posts ul li {
		overflow: hidden;
	}
}

@media (width >= 1300px) {
	.latest-posts {
		padding: 0;
		padding-top: 5%;
	}
}
