.policies {
	display: flex;
	row-gap: 20px;
	flex: 1 1 100%;
	flex-direction: column;
	padding: 5%;
}

.headline {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
	color: var(--light-scheme-highlight);
}

.title {
	font-size: 2.5rem;
}

.content {
	display: flex;
	row-gap: 20px;
	flex-direction: column;
}

.list {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
}

.item {
	display: flex;
	row-gap: 5px;
	flex-direction: column;
	list-style-type: disc;
}

.link {
	all: revert;
}

/* Pseudo classes */
.link:hover {
	color: var(--light-scheme-highlight);
}

/* Dark scheme classes */
:global(.dark) .headline {
	color: var(--dark-scheme-highlight);
}

:global(.dark) .content {
	color: var(--dark-scheme-color);
}

:global(.dark) .link:hover {
	color: var(--dark-scheme-highlight);
}
