.comments {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	padding: 10% 5%;
}

.content > ul {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.content > p {
	text-align: center;
	padding: 5% 0;
}

/* Dark scheme classes */
:global(.dark) .comments {
	color: var(--dark-scheme-color);
}

@media (min-width: 400px) {
	.comments {
		padding: 10% 10%;
	}
}

@media (min-width: 700px) {
	.comments {
		row-gap: 25px;
		padding: 10% 15%;
	}

	.content > ul {
		row-gap: 25px;
	}
}

@media (min-width: 1000px) {
	.comments {
		row-gap: 35px;
		padding: 5% 10%;
	}

	.content > ul {
		row-gap: 35px;
	}
}

@media (min-width: 1600px) {
	.comments {
		padding: 5% 0;
	}
}
